{
    "cloud": "AZUREPUBLICCLOUD",
    "tenantId": "",
    "subscriptionId": "",
    "aadClientId": "",
    "aadClientSecret": "",
    "resourceGroup": "ket",
    "location": "eastus",
    "subnetName": "kubenodes",
    "securityGroupName": "worker",
    "routeTableName": "kubernetes",
    "vnetName": "kubenet"
}